
@{
    ViewBag.Title = "BuyMonthly";
}

<h2>Thank You for purchasing a Mystery Box!</h2>

<h2> For optimal savings please look into purchasing our 1 year subscrpition saving you $60!</h2>


<p> Please check your profile for amount owed.</p>

<p><a onclick='window.location="@Url.Action("Index","Surveys")";' class="btn btn-primary btn-lg"> Take Survey&raquo;</a></p>
<p>Taking the survey will create the contents of your box.  If Survey is skipped the contents will be random.</p>

