@model IEnumerable<WonderBox.Models.Users>
@{
    ViewBag.Title = "BuyYearly";
}

<h2>Thank You for purchasing your 1 year subscription!!</h2>

<p> Please Check your Profile for your amount owed.</p>

